<footer>
    <div class="footer-main">

      <div class="row">  

         <div class="col-five tab-full footer-about">       

           <h6 class="h05">Personal Movie Database</h6>

           <!-- <p>Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Proin eget tortor risus.</p>	             -->

         </div> <!-- end footer-about -->
        
     </div> <!-- end row -->

  </div> <!-- end footer-main -->

  <div class="footer-bottom">

     <div class="row">

         <div class="col-twelve">
             <div class="copyright">
                <span>© Copyright #100Devs 2022.</span> 
            </div>	
                                       
         </div>

     </div>   	

 </div> <!-- end footer-bottom -->

<!-- <div id="preloader">  -->
<!-- <div id="loader"></div> -->
<!-- </div>  -->

<!-- Java Script
================================================== --> 
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/pace.min.js"></script>