<footer>

<div id="footer">
    <div class="container">
        <div class="row">
            <section class="col-3 col-6-narrower col-12-mobilep">
                <h3>Links to Stuff</h3>
            </section>
        </div>
    </div>

    <div class="copyright">
        <ul class="menu">
            <li>&copy; PMD. All rights reserved</li><li>Coding: <a href="https://leonnoel.com/100devs/">#100Devs</a></li>
        </ul>
    </div>
</div>

</footer>


<!-- Scripts -->
<script src="public/js/jquery.min.js"></script>
<script src="public/js/jquery.dropotron.min.js"></script>
<script src="public/js/browser.min.js"></script>
<script src="public/js/breakpoints.min.js"></script>
<script src="public/js/util.js"></script>
<script src="public/js/main.js"></script>