<!DOCTYPE html>

<body id="top">
    <header>
        <div class="header-logo">
            <a href="views\index.ejs">Personal Movie Database</a>
         </div> 
  
          <a id="header-menu-trigger" href="#0">
               <span class="header-menu-text">Menu</span>
                <span class="header-menu-icon"></span>
          </a> 
  
          <nav id="menu-nav-wrap">
  
              <a href="#0" class="close-button" title="close"><span>Close</span></a>	
  
             <h3>Personal Movie Database</h3>  
  
              <ul class="nav-list">
                  <li class="current"><a href="views\index.ejs" title="">Home</a></li>
                  <li><a href="views\login.ejs" title="">Login</a></li>
                  <li><a href="views\movies.ejs" title="">Movies</a></li>
                  <li><a href="views\signup.ejs" title="">Signup</a></li>						
              </ul>	  
            
          </nav>  <!-- end #menu-nav-wrap -->
      </header> <!-- end header -->  