    <header>
        <div class="header-logo">
            <a href="/">Personal Movie Database</a>
         </div> 
  
          <a id="header-menu-trigger" href="#0">
               <span class="header-menu-text">Menu</span>
                <span class="header-menu-icon"></span>
          </a> 
  
          <nav id="menu-nav-wrap">
  
              <a href="#0" class="close-button" title="close"><span>Close</span></a>	
  
          <h3>Personal Movie Database</h3>  
  
              <ul class="nav-list">
                  <li class="current"><a href="/" title="Home">Home</a></li>
                  <li><a href="/login" title="Login">Login</a></li>
                  <li><a href="/movies" title="Movies">Movies</a></li>
                  <li><a href="/signup" title="Signup">Signup</a></li>	
              </ul>

          </nav> 
    </header>