<body id="top">
    <header>
        <div id="header">

            <!-- Logo -->
            <h1><a href="/" id="logo"><em>Personal Movie Database</em></a></h1>
  
            <!-- Nav -->
            <nav id="nav">  
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/movies">Movies</a></li>
                  <li><a href="/signup">Signup</a></li>						
              </ul>	    
          </nav>
      </header> 