<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>
      
<body class="is-preload">
	<div id="page-wrapper">

    <header>
        <%- include('partials/header'); %>
    </header>

    <section class="wrapper style1">
        <div class="container">
            <div id="content">
    
                <article>
                    <header>
                        <h2>Personal Movie Database</h2>
                        <p>Customizable movie tracker without all of the fuss.</p>
                    </header> 

    				<span class="image featured"><img src="images/banner.jpg" alt="" /></span>

                    <a class="button" href="/login">Login</a>
                    <a class="button" href="/signup">Signup</a>
                    <a class="button" href="/movies">Movies</a>
                </article>
            </div>
        </div>
    </section>
    			
    <footer>
        <%- include('partials/footer'); %>
    </footer>
  
</body>
</html>