<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>
      
<body id="top">
    <header>
        <%- include('partials/header'); %>
    </header>

   	<div class="overlay"></div>
    
      <div class="home-content-table">	
    		   <div class="home-content-tablecell">
    		   	<div class="row">
    		   		<div class="col-twelve">		   			
    			  		
    			  				<h3 class="animate-intro">PMD</h3>
    				  			<h1 class="animate-intro">
    							Personal Movie  <br>
    							Database.
    				  			</h1>	
    
    				  			<div class="more animate-intro">
    				  				<a class="smoothscroll button stroke" href="/login">
    				  					Login
    				  				</a>
                      <a class="smoothscroll button stroke" href="/signup">
    				  					Signup
    				  				</a>
                      <a class="smoothscroll button stroke" href="/movies">
    				  					Movies
    				  				</a>
    				  			</div>							
    
    			  		</div> <!-- end col-twelve --> 
    		   	</div> <!-- end row --> 
    		   </div> <!-- end home-content-tablecell --> 		   
    		</div> <!-- end home-content-table -->
  
    <footer>
        <%- include('partials/footer'); %>
    </footer>
  
</body>
</html>